/* General Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgrey; /* Neutral light background */
    color: black;
}

header {
    padding: 1rem  0;
    text-align: left; /* Left align text */
}

header .name {
    padding-left: 1rem; /* Add padding to the left for alignment */
}

header h1 {
    margin: 0;
}

main {
    padding: 2rem 0;
}

.section {
    max-width: 800px;
    margin: 0;
    padding: 0 1rem;
    text-align: left;
}

.info {
    max-width: 800px;
    margin: 0;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    text-align: left;
}

/* Section Specific Styles */

.info p {
    background-color: white;
    border-radius: 4px;
    padding: 1rem;
    width: 50%;
}

a:hover {
    text-decoration: underline;
}