/* General Styles */


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Neutral light grey background */
    color: #333;
}

header {
    background-color: #f4f4f4; /* Match body background */
    color: #333;
    padding: 1rem 0;
    text-align: left; /* Left align text */
}

header .container {
    padding-left: 1rem; /* Add padding to the left for alignment */
}

header h1 {
    margin: 0;
}

main {
    padding: 2rem 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1rem;
}

section {
    margin-bottom: 2rem;
    text-align: left; /* Left align text */
}

h1, h3 {
    color: #4A90E2; /* Cool blue color */
}

p {
    margin: 1rem 0;
}

/* Section Specific Styles */
#home {
    background-color: #f4f4f4; /* Match body background */
    color: #333;
    padding: 2rem 0;
    text-align: left; /* Left align text */
}

/* Portfolio Section */
#portfolio .projects {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the bubbles horizontally */
}

#portfolio .projects p, #portfolio .projects a {
    background-color: #e0e0e0; /* Light grey color */
    border-radius: 4px;
    padding: 1rem;
    width: 95%; /* Full width inside the container */
    max-width: 850px; /* Set a max-width to control the size */
    text-align: left; /* Left align text inside the bubbles */
    margin: 0.5rem 0; /* Margin for spacing between items */
    color: #333; /* Dark grey text color */
    text-decoration: none; /* Remove underline for links */
    padding-left: 1rem; /* Add padding to the left for alignment */
}

#portfolio .projects a:hover {
    text-decoration: underline; /* Underline on hover */
}

/* About Section */
#about .container .projects {
    background-color: #e0e0e0; /* Light grey background */
    border-radius: 4px;
    width: 95%; /* Full width inside the container */
    max-width: 850px; /* Set a max-width to control the size */
    padding: 1rem;
    color: #333; /* Dark grey text color */
    text-align: left; /* Left align text */
}

/* Contact Section */
#contact .container {
    background-color: #e0e0e0; /* Light grey background */
    border-radius: 4px;
    padding: 1rem;
    text-align: left; /* Left align text */
    color: #4A90E2; /* Cool blue text color */
}

#contact a {
    color: #333; /* Cool blue color for link */
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #f4f4f4; /* Match body background */
    color: #333;
    text-align: left; /* Left align text */
    padding: 1rem 0;
    padding-left: 1rem; /* Add padding to the left for alignment */
    position: relative;
    bottom: 0;
    width: 100%;
}